@function px2rem($px){
  @return $px / 375px * 10rem;
}
.swiper-slide {
  position: relative;
  height: px2rem(120px);
  margin-top: 37px;
  background-repeat: no-repeat;
  background-size: 100%;
  & a{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
.swiper-pagination-bullet-active{
  background: #ff5000;
}