@function px2rem($px){
  @return $px / 375px * 10rem;
}
.Header{
  position: fixed;
  display: flex;
  align-items: center;
  width: 10rem;
  height: px2rem(37px);
  background: #ff852a;
  z-index: 1000;
  .logo{
    display: inline-block;
    width: 27px;
    height: 20px;
    margin: 0 7px;
  }
  a{
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 9px;
    flex: 1;
    text-decoration: none;
    line-height: 25px;
    font-size: 13px;

    .search{
      display: inline-block;
      width: 100%;
      border: none;
      border-radius: 4px;
      background: #ff4e22;
      line-height: 25px;
      color: #fff;
      vertical-align: bottom;
      text-align: center;
      outline: none;
    }

  }
}