@function px2rem($px) {
  @return $px / 375px * 10rem;
}
.OrderList{
  .order-info{
    margin-top: px2rem(45px);
    margin-bottom: px2rem(50px);

  }
  .tab-bar{
    ul{
      display: flex;
      width: 100%;
      background: #fcfcfc;
      position: fixed;
      top: 0;
      left: 0;
    }
    li{
      flex: 1;
      height: px2rem(40px);
      line-height: px2rem(40px);
      text-align: center;
      font-size: px2rem(14px);
      &.active{
        border-bottom: 2px solid #ff5000;
        color: #ff5000;
      }
    }
  }
}