@function px2rem($px) {
  @return $px / 375px * 10rem;
}
.OrderList{
  .tab-bar{
    ul{
      display: flex;
      background: #fcfcfc;
    }
    li{
      flex: 1;
      height: px2rem(40px);
      line-height: px2rem(40px);
      text-align: center;
      font-size: px2rem(14px);
      &.active{
        border-bottom: 2px solid #ff5000;
        color: #ff5000;
        a{
          color: #ff5000;
        }
      }
      a{
        color: #333;
      }
    }
  }
}